![Alt text](image.png)

In [84]:
import pandas as pd

df = pd.read_csv('./data.csv')
df

test_sam = (178,94)

In [85]:
d=dict()
x1i,x2i=[],[]
import math
for index, rows in df.iterrows():
    print(rows['height'], rows['weight'], index)
    x1i.append(rows['height'])
    x2i.append(rows['weight'])
    d[index] = math.sqrt( (rows['height']-test_sam[0])**2 + (rows['weight']-test_sam[1])**2 )

165 56 0
173 53 1
134 90 2
215 45 3
189 67 4

In [86]:
min_idx, min_dis = float('inf'), float('inf')

In [87]:
for i in d:
    if d[i]<min_dis:
        min_dis = d[i]
        min_idx = i
print(min_idx, min_dis)

4 29.154759474226502

In [88]:
df

   height  weight  healthy
0     165      56        1
1     173      53        0
2     134      90        0
3     215      45        0
4     189      67        1

In [89]:
df.iloc[min_idx]['healthy']

1

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(x,y)