In [256]:
import pandas as pd

df = pd.read_csv('./data.csv')
df

    height  weight  healthy
0      165      56        1
1      173      53        0
2      134      90        0
3      215      45        0
4      189      67        1
5      156      60        1
6      160      50        1
7      180      75        1
8      145      95        0
9      170      60        1
10     200      85        1
11     155      85        0
12     168      72        1
13     210     110        0
14     175      65        1
15     190     100        0
16     140      70        1
17     185      90        0
18     165      77        1

In [257]:
test_sam = (166,60)
k = 5

In [258]:
check = dict()

In [259]:
d=dict()
x1i,x2i=[],[]
for index, rows in df.iterrows():
    print(rows['height'], rows['weight'], index)
    x1i.append(rows['height'])
    x2i.append(rows['weight'])
    d[index] = ( (rows['height']-test_sam[0])**2 + (rows['weight']-test_sam[1])**2 )**(1/2)
    check[index] = rows['healthy']

165 56 0
173 53 1
134 90 2
215 45 3
189 67 4
156 60 5
160 50 6
180 75 7
145 95 8
170 60 9
200 85 10
155 85 11
168 72 12
210 110 13
175 65 14
190 100 15
140 70 16
185 90 17
165 77 18

In [260]:
check

{0: 1,
 1: 0,
 2: 0,
 3: 0,
 4: 1,
 5: 1,
 6: 1,
 7: 1,
 8: 0,
 9: 1,
 10: 1,
 11: 0,
 12: 1,
 13: 0,
 14: 1,
 15: 0,
 16: 1,
 17: 0,
 18: 1}

In [261]:
sorted_d = dict(sorted(d.items(), key=lambda item: item[1], reverse=True))
sorted_d

{13: 66.60330322138685,
 3: 51.24451190127583,
 15: 46.647615158762406,
 2: 43.86342439892262,
 10: 42.20189569201838,
 8: 40.8166632639171,
 17: 35.510561809129406,
 16: 27.85677655436824,
 11: 27.313000567495326,
 4: 24.041630560342615,
 7: 20.518284528683193,
 18: 17.029386365926403,
 12: 12.165525060596439,
 6: 11.661903789690601,
 14: 10.295630140987,
 5: 10.0,
 1: 9.899494936611665,
 0: 4.123105625617661,
 9: 4.0}

In [262]:
k_0 = k_1 = 0
n = 0
for i in sorted_d:
    n+=1
    if n>k:
        break
    if check[i]==0:
        k_0+=1
    elif check[i]==1:
        k_1+=1

In [263]:
if k_0>k_1:
    print("test data belongs to class 0 - unhealthy")
else:
    print("test data belongs to class 1 - healthy")
print(k_0, k_1)

test data belongs to class 0 - unhealthy
4 1